<div class="footer">
    <style>
.footer {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    color: #000;
    align-items:center;
  }
    </style>
    à bientôt !
</div>