

<div class="headerblock">
  <style>

.headerblock {
  /* position:absolute; */
  display: flex;
  width: 80px;
  height: 100%;
  background-color: #EEDFD4;
  justify-content: space-between;
  flex-direction: column;
}


  
.header {
  justify-content: center;
  align-items: center;
  rotate: -90deg;
}


#topline {
  border-left: 1px solid black;
  height: 80px;
  white-space:nowrap;
  margin-top: 80px;
  padding-left: 5px;
  justify-content: center;
}
  
#meteo {
  border-right: 1px solid black;
  height: 80px;
  margin-bottom: 40px;
}

  
@media only screen and (max-width: 760px) {


  
  .headerblock {
    width: 100%;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header {
    rotate: 0deg;
  }
  
  #topline {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
    border-left: none;
    height: 100%;
    width: auto;
    white-space: normal;
    align-items: center;
    justify-content: center;
  }
  
  #meteo {
    border-left: 1px solid black;
    border-right: none;
    width: 80px;
    height: 100%;
  }
  
 .footer {
    width: 100%;
    height: 5%;
    padding: 5px 0;
  }

  
}
  </style>
  <div class="header" id="topline" >carnet de voyages</div>
  <div class="header" id="meteo" >truc</div>
</div>
