<div class="bigboi">
    <style>

        div{
            display: flex;
        }
        .bigboi{
            display: flex;
            height: 600px;
            width: 1200px;
            flex-direction: column;
        }

        .boi{
            height: 400px;
            flex-direction: column;
            width: 600px;
            border: 1px solid black;
            justify-content: end;
            background-image: url(https://i.pinimg.com/originals/92/17/a8/9217a86945b10b32d03b1ae913d4af14.jpg);
        }

        .prezbidule{
        justify-content: space-between;
        height: 80px;
        width: 100%;
        background-color:#C96B41;
        align-items: center;
        opacity: 75%;
        }

        .nombidule{
            height: 100%;
            align-items: center;
            color: white;
        }

        .datebidule{
            border-left: 1px solid white;
            height: 100%;
            align-items: center;
            color: white;
        }

    </style>
    <h2>dernier article</h2>
    <div class="boi">
        <div class="prezbidule">
            <div class="nombidule">nanani nanana</div>
            <div class="datebidule">eh gros sayez</div>
        </div>
    </div>
</div>


<!-- display: grid
grid gap:
grid template columns : 200 200-->