<div>
    <style>
        .div{
            display: grid;

        }

    </style>
    <h2>lien des autres articles</h2>
    <div id="un">piti 1</div>
    <div id="deux">piti 2</div>
    <div id="trois">piti 3</div>
    <div id="katr">piti 4</div>
</div>