body {
  display: flex;
  width: 6em;
  height: 120em;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: space-around; */
  
}
  
.headerblock {
  /* position:absolute; */
  display: flex;
  width: 80px;
  height: 100%;
  background-color: #EEDFD4;
  justify-content: space-between;
  flex-direction: column;
}
  
div {
  display: flex;
  /* justify-content: center; */
}

.lecorp{
flex-direction: column;
padding-left: 25em;

}

.boitearticle{
  width: max-content;
  height: 80%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;

}

  
.header {
  justify-content: center;
  align-items: center;
  rotate: -90deg;
}
  
#topline {
  border-left: 1px solid black;
  height: 80px;
  flex-wrap: nowrap;
  margin-top: 80px;
  white-space: nowrap;
  padding-left: 75px;
}
  
#meteo {
  border-right: 1px solid black;
  height: 80px;
  margin-left: 20px;
  margin-bottom: 40px;
  padding-right: 40px;
}
  
.footer {
  height: 60px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: end;
  padding: 5px;
  background-color: transparent;
  color: #000;
  align-items: end;  
}
  
@media only screen and (min-width: 760px) {
  body {
    width: 100%;
    max-width: 1260px;
  }
  
  #topline {
    padding-left: 75px;
  }
  
  header {
    width: 80px;
    height: 100%;
    flex-direction: column;
  }
  
  .header {
    rotate: -90deg;
  }
  
  #meteo {
    border-right: 1px solid black;
    height: 80px;
    width: 0px;    
  }
}
  
@media only screen and (max-width: 760px) {
  body {
    width: 100%;
  }
  
  header {
    width: 100%;
    height: 5%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header {
    rotate: 0deg;
  }
  
  #topline {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
    border-left: none;
    height: 100%;
    width: auto;
    white-space: normal;
    align-items: center;
  }
  
  #meteo {
    border-left: 1px solid black;
    border-right: none;
    width: 80px;
    height: 100%;
  }
  
 .footer {
    width: 100%;
    height: 5%;
    padding: 5px 0;
  }
}
  